/* Top Bar */
#panel {
  background-color: rgba(40,40,40,0.88);
  font-weight: bold;
  height: 3.20em;
  font-feature-settings: "tnum";
  border-radius: 9999px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  transition-duration: 250ms; }
